@page
@model CG.Resume.UI.Pages.EducationModel
@{
    ViewData["Title"] = "Education";
}

<h1 class="display-4 ">Education</h1>

<div class="Container">
    <h3>Software Developer Associate of Applied Science</h3>
    <p style="float:left">Fox Valley Technical College | Appleton, WI</p>
    <p style="float:right">Expected May 2024</p>
    <ul style="clear:both">
        <li>GPA 3.97 | Phi Theta Kappa Academic Honor Society </li>
    </ul>
</div>

<div class="Container">
    <h3>Computer Engineering Coursework</h3>
    <p style="float:left">Costa Rica Institute of Technology | Cartago, Costa Rica</p>
    <p style="float:right">February 2022 – June 2022</p>
    <ul style="clear:both">
        <li>GPA 4.0 | Coursework in Python and Programming Essentials</li>
    </ul>
</div>

<div class="Container">
    <h3>International Baccalaureate Diploma Program</h3>
    <p style="float:left">Palmares Bilingual High School | Palmares, Alajuela, Costa Rica</p>
    <p style="float:right">February 2020 – November 2021</p>
    <ul style="clear:both">
        <li>32 pts</li>
        <li>InfoIB Project Founder</li>
        <li>Student Council President</li>
        <li>Class 2-2 President</li>
    </ul>
</div>

<hr />

<div class="Container">
    <h2>Honors and Activities</h2>
    <ul style="clear:both">
        <li>Dr. Ana Sittenfeld Scholarship Program for Specialized Technicians | CRUSA Foundation | September 2021</li>
        <li>Phi Theta Kappa Global Leaders of Promise Award | Phi Theta Kappa International | August 2023</li>
        <li>Achievement Against the Odds Award | Fox Valley Technical College | April 2023</li>
        <li>Officer of Scholarships | Phi Theta Kappa | March 2023 – Present</li>
        <li>IT College Club Parliamentarian | Fox Valley Technical College | September 2022 – January 2023</li>
    </ul>
</div>

<hr />

<div>
    <h2>Certifications</h2>
    <div class="Container">
        <h4>Generative AI Fundamentals</h4>
        <p style="float:left">Google Cloud Skills Boost | Appleton, WI</p>
        <p style="float:right">June 2023</p>
        <ul style="clear:both">
            <li> Credential ID 3912526</li>
            <li>Courses: Introduction to Generative AI | Introduction to Image Generation | Introduction to Large Language Models
                (LLM) | Introduction to Responsible AI</li>
        </ul>
    </div>

    <div class="Container">
        <h4>Tutor Training</h4>
        <p style="float:left">Fox Valley Technical College | Appleton, WI</p>
        <p style="float:right">May 2023</p>
        <ul style="clear:both">
            <li> Credential ID 3912526</li>
            <li>The Role of The Tutor | Using Effective Questions to Guide a tutoring session | Tutoring Center Administration: Best
                Practices for Hiring, Tracking & Reporting | Developing Critical Thinking Skills.</li>
        </ul>
    </div>

    <div class="Container">
        <h4>Project Management and Formulation Workshop</h4>
        <p style="float:left">Cenecoop R.L. | Palmares, Costa Rica </p>
        <p style="float:right">March 2019</p>
        <ul style="clear:both">
            <li>Credential ID NJ-01-2019-3670</li>
        </ul>
    </div>
</div>

    <!-- Notes

    -->