@page
@model IndexModel
@{
    ViewData["Title"] = "Carlos Guzman";
}

    <h1 class="display-4 ">Carlos Guzman</h1>

    <img class="rightImage" src="./img/CarlosProfile.png" alt="Profile Picture" width="500" height="361" />
    
    <div class="BioText">
        <h2>Biography</h2>
        <p >
            From a young age, I embraced challenges, preparing for the future. At 14, I joined my institution's student cooperative, serving as secretary of the surveillance department. A year later, I became chairman of the Board of Directors, kick-starting my professional journey and providing invaluable tools for my growth.
            <br />As director and speaker in institutional assemblies, I honed my leadership skills. I also attended Cenecoop R.L.'s workshops on cooperative education and leadership (2019), expanding my knowledge in project planning and management, and fostering teamwork.
            <br />During my enrollment in the International Baccalaureate Diploma Program (IBDP) in 2021, I founded Info IB, advising fellow students on studying abroad. This initiative connected me with Yondders, a counseling organization for university studies, where I volunteered and later became an official collaborator.
            <br />Additionally, I secured a fully-funded scholarship through the CRUSA Foundation’s Scholarship Program for Specialized Technicians Dra. Ana Sittenfeld. This allowed me to pursue an AAS in Software Development at a Community College in the United States.
            <br />After my first year at Fox Valley Technical College, I became part of the Dean’s List due to my high GPA and got invited to Phi Theta Kappa Honor Society, where I currently work as Officer of Scholarship. I also got a part-time job on campus as a general IT and programming Tutor at the TLC, after the recommendation of my Instructor.
            <br />I participated in other college activities like the IT club (AITP), where I enrolled as a Parliamentarian, and attended the Cybersecurity and Technology Conference, GrrCon (2022) in Grand Rapids, Michigan.
            <br />Most recently I got the Award Against Odds recognition after my self-improvement and academic achievements despite the barriers and obstacles to my education.
            <br />My journey continues as I strive to become an exceptional professional, building upon my linear development thus far.
        </p>
    </div>
    <div class="Skills">
        <h2>Professional Skills</h2>
        <ul>
            <li>Python</li>
            <li>C#</li>
            <li>C++</li>
            <li>SQL</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>PHP</li>
            <li>GIT</li>
            <li>DevOps</li>
            <li>GitHub</li>
            <li>Bitbucket</li>
            <li>Google Cloud</li>
            <li>AI Prompt Engineering</li>
            <li>Generative AI</li>
            <li>English & Spanish</li>
            <li>Customer Service</li>
            <li> Public Speaker</li>
            <li>Networking</li>
            <li>International Experience</li>
            <li>Leadership</li>
        </ul>
    </div>


