@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>Privacy Policy</h1>

<p>Your privacy is important to us. When you visit this website, we may collect limited personal information through cookies and analytics tools to improve your experience. We do not share, sell, or disclose your data to third parties without your explicit consent. All data collected is stored securely and used solely for the purpose of enhancing website functionality and user experience. By using this website, you agree to the collection and use of information in accordance with this policy.<p>
<p>Post Data: <br />If you are a hiring manager or are in the power to, please hire me :)</p>
