@page
@model CG.Resume.UI.Pages.WorkModel
@{
    ViewData["Title"] = "Work Experience";
}

<h1 class="display-4">Work Experience</h1>

<!-- Work Container -->

<div class="Container">
    <h3>Peer Leader</h3>
    <p style="float:left">Fox Valley Technical College | Appleton, WI </p>
    <p style="float:right">July 2023 – Present</p>
    <ul style="clear:both">
        <li>Handled front-line inquiries at the Admissions Center to support specialists and improve office workflow.</li>
        <li>Proficient in software tools like PeopleSoft, MS 365, Bookings, and CRM to manage student records and appointments.</li>
        <li>Assisted Hispanic students using bilingual skills, enhancing communication and inclusivity within the admissions
            process.</li>
    </ul>
</div>

<div class="Container">
    <h3>IT Tutor</h3>
    <p style="float:left">Fox Valley Technical College | Appleton, WI </p>
    <p style="float:right">January 2023 – Present</p>
    <ul style="clear:both">
        <li>Provided individualized tutoring and assistance to students in IT and programming-focused classes.</li>
        <li>Collaborated with students to solve complex programming problems and improve understanding of key concepts.</li>
        <li>Demonstrated proficiency in C#, C++, JavaScript, SQL, PHP, Adobe Illustrator, and Photoshop.</li>
        <li>Contributed to the Teaching and Learning Center by helping students overcome academic challenges.</li>
    </ul>
</div>

<div class="Container">
    <h3>IT Support Specialist (remote)</h3>
    <p style="float:left">Yondders | San Jose, Costa Rica</p>
    <p style="float:right">January 2022 – January 2023</p>
    <ul style="clear:both">
        <li>Promoted from Promotion to IT Support based on job performance and IT knowledge.</li>
        <li>Maintained and managed the organization's web platform using Drupal, ensuring a seamless user experience.</li>
        <li>Supported and troubleshot a large email database with 5,000+ users ensuring uninterrupted communication.</li>
    </ul>
</div>

<div class="Container">
    <h3>Promotional Outreach Coordinator (remote)</h3>
    <p style="float:left">Yondders | San Jose, Costa Rica</p>
    <p style="float:right">May 2021 – January 2022</p>
    <ul style="clear:both">
        <li>Coordinated promotional activities at educational institutions across Latin America, resulting in increased awareness of
            Yondders’ study abroad programming.</li>
        <li>Managed Zoom meetings and facilitated communication between administrative departments and educational
            institutions.</li>
        <li>Worked with educational institutions from 14 different countries throughout Latin America for educational guidance.</li>
    </ul>
</div>

<div class="Container">
    <h3>Administration Council President</h3>
    <p style="float:left">Coopeasued R.L. | Palmares, Alajuela, Costa Rica</p>
    <p style="float:right">March 2017 – November 2021</p>
    <ul style="clear:both">
        <li>Led and organized meetings, assemblies, and events for a student cooperative association, actively contributing to
            decision-making processes.</li>
        <li>Developed strong public speaking skills as the main speaker at institutional assemblies for three consecutive years.</li>
        <li>Coordinated a team of workers and successfully organized events and educational trips for students.</li>
        <li>Represented the cooperative at meetings and events, fostering partnerships and obtaining learning certificates.</li>
    </ul>
</div>